<div class="w3-row">
  <h1 class="w3-text-orange w3-center w3-border-bottom w3-padding"><b>NOTATIS</b></h1>
</div>

<div class="w3-row">
  <div class="w3-col m4 w3-container">

  </div>
  <div class="w3-col m4 w3-container w3-light-grey w3-border w3-padding">
    <form class="w3-container" [formGroup]="emailForm" (ngSubmit)="sendMail()">
      <div><b>Wachtwoord vergeten?</b></div>

      <label>Geef je e-mail adres in om een nieuw wachtwoord aan te vragen:</label>
      <input class="w3-input" [ngClass]="{'w3-border-red' : isNoSuchUserError()}" type="text" name="email" formControlName="email"><br>
      <div class="w3-text-red" *ngIf="emailForm.get('email').touched && emailForm.get('email').invalid">
        This must be a valid e-mail.
      </div>
      <div class="w3-text-red" *ngIf="isNoSuchUserError()">
          Oeps, we konden geen gebruiker met deze e-mail terugvinden.
        </div>
      <label>Geef hier je schoolcode in:</label>
      <input class="w3-input" [ngClass]="{'w3-border-red' : NoSuchSchoolcodeError()}" type="text" name="schoolcode" formControlName="schoolcode"><br>
      <div class="w3-text-red" *ngIf="NoSuchSchoolcodeError()">
          Oeps, we konden deze schoolcode niet terugvinden.
        </div>
      <div class="w3-text-red" *ngIf="emailForm.get('schoolcode').touched && emailForm.get('schoolcode').invalid">
        The schoolcode is required.
      </div>

      <p>Druk op 'E-mail verzenden' om een code te ontvangen waarmee je je wachtwoord opnieuw kan instellen.</p>
      <div class="w3-center"><button [disabled]="emailForm.invalid" class="w3-button w3-blue">E-mail verzenden</button>
      </div>
    </form>
  </div>
  <div class="w3-col m4 w3-container">

  </div>
</div>